<div class="examine">
  <div class="row text-center">
    <h2 id="examineHeader" >{{ec.currentAlbum.artist_name}} - {{ec.currentAlbum.name}}</h2>
    <button class="btn btn-default" ng-click="ec.playAlbum(ec.currentAlbum)">play</button>
  </div>
  <div class="row">
    <div class="tracks col-md-4">
      <div class="track" ng-repeat="track in ec.currentAlbum.tracks">
        {{$index+1}} {{track.track_name}}
      </div>
    </div>
    <div class="cover col-md-4">
      <img class="center-block" ng-src="{{ec.currentAlbum.image_medium}}" />
    </div>
    <div class="data col-md-4">
      data
    </div>
  </div>



</div>
