<div class="home">
  <h2 class="text-center">albums</h2>

  <button class="btn btn-default" ng-click="hc.updateAlbums()">update albums</button>

  <div class="spinner center-block text-center" ng-show="hc.spinning">
    <i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>
    <span class="sr-only">loading...</span>
  </div>

  <div class="albums">
    <div class="album col-sm-5 col-sm-offset-1 col-md-4 center-block" ng-repeat="album in hc.albums">
      <div class="overlayContainer center-block" ng-mouseover="hc.showAlbumOverlay(album)" ng-mouseleave="hc.hideAlbumOverlay(album)">
        <img class="cover " ng-src="{{album.album.images[1].url}}" />
        <div class="overlay" ng-show="album.show">
          <button ng-click="hc.examineAlbum(album)" class="btn btn-look center-block">look</button>
        </div>
      </div>
    </div>
  </div>
</div>
